
.back-to-top{
  font-size: 2.7em;
  position: fixed;
  z-index: 10000000;
  right:  1em;
  bottom: 1em;

  background-color: white;

  opacity: 0.9;
  box-shadow: 0px 0px 10px #bdc3c7;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 10em;
  transition: all 0.3s;
  user-select: none;
}

.fa-arrow-up{
  background: var(--light_gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.back-to-top:hover{
  transform: scale(1.2);
}

/* -- HOME -- */

.home-background{
  height: 80vh;
  max-height: 40em;
  width: 100vw ;
  background-image:url('/Ressources/Images/background-1.jpg');
  background-attachment: fixed;
  background-position:  auto 100%;
  background-repeat: space;
  background-size: auto 100%;
  z-index: 4;
 
  position: relative;
}

.fade-effect{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--gradient);
  opacity: 0.9;
  z-index: 5;
}

.home-text{
  width: 40%;
  top: 25%;
  position: absolute;
  z-index: 6;
}

.home-text p{
  color: white;
  font-family: "Raleway",'Arial';
  text-align: center;
  font-size: 2.2em;
  line-height: 1.4em;
}

.wave-container{
  position: absolute;
  bottom: -0.1em;
  height: 10em;
  width: 100%;
  z-index: 7;
  display: flex;
  align-items: flex-end;
  object-fit: fill;
}
.wave-container svg{
  width: 100%;
  height: 100%;
}

.menu-items{
  bottom: -4.5em;
  height: 14em;
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  z-index: 100;
}

.item
{
  position: relative;
  width: 25%;
  height: 100%;
  background-color: white;
  border-radius: 1.5em;
  box-shadow: 0px 0px 10px #bdc3c7;
  transition: all 0.4s;
  z-index: 9;
}

.item:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 15px #bdc3c7;
}

.item-precis{
  transform: scale(1.02);
}

.item-precis:hover{
  transform: scale(1.03);
}

.item-icon{
  width: 100%;
  height: 3em;
  margin-top: 1.5em;
  display: flex;
  justify-content:center;
  align-items: center;
}

.item-icon svg{
  width: 100%;
  height: 4em;
  fill: url(#gradient-svg);
}

.item-title{
  margin-top: 1em;
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

}
.item-title p{
  color:var(--gradient);
  font-weight: bold;
  user-select: none;
  font-size: 1.3em;
}

.item-text{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0.5em;
  height: 6em;
}
.item-text p{
  font-size: 1.1em;
  color: #645483;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .home-text{
    width: 60%;
    top: 10%;
  }
  .home-text p{
    font-size: 1.5em;
  }
  .item{
    margin-top: 2em;
    height: 50%;
  }
  .item-title p{
    color:var(--gradient);
    font-weight: bold;
    user-select: none;
    font-size: 0.5em;
  }
  .item-text p{
    display: none;
  }
}



/* -- Présentation des tests -- */

#test-section{
  left: 50%;
  transform: translateX(-50%);
  width:100vw;
  padding-top: 8em;
  padding-bottom: 12em;
  background: var(--light_gradient);
  position: relative;
  z-index: 40000;
}

.test-container{
  width: 80%;
  height: 100%;
  
  position: relative;
}

.presentation-title  {
  text-align: center;
  font-size: 3em;
  color: white;
  user-select: none;
}

.presentation-sub-title {
  text-align: center;
  font-size: 1.2em;
  color: white;
  margin-top: -1em;
}

.tests-item-container {
  margin-top: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
}

.test-item {
  width: 30%;
  min-width: 280px;
  height: 25em;
  background-color: #fcf4f7dd;

  box-shadow: 0px 0px 10px #bdc3c7;
  border-radius: 1.5em;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  position: relative;
}

.test-item:hover {
  transform: translateY(-0.3em) scale(1.005);
  box-shadow: 0px 0px 15px #bdc3c7;
}

.item-illustration {
  width: 100%;
  height: 40%;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  background: #faf4fb;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-item h3 {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  color: #645483;
  font-size: 1.5em;
}

.test-description {
  width: 90%;
  color: #777777;
  text-align: justify;
  font-size: 1em;
  margin-left:  5%;
  margin-right: 5%;
}

.test-item a {
  text-decoration: none;
  position: absolute;
  color: var(--pink);
  font-size: 1.1em;
  bottom: 1em;
  left: 1em;
  user-select: none;
}

.line {
  position: absolute;
  bottom: 0.9em;
  left: 1em;
  width: 0%;
  height: 0.05em;
  background-color: transparent;
  transition: width 0.4s, background-color 0.4s, transform 0.4s;
}

.test-item:hover .line {
  width: 5em;
  background-color: var(--pink);
}

.ecg {
  min-height:200px;
  text-align:center;
}

.test-item:hover .ecg path {
  animation: dash 3s linear infinite forwards;
  stroke-dasharray: 250;
  stroke-dashoffset: 0;
}

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}

.yellow-circle {
  height:3em;
  width:3em;
  background: var(--pink);
  border-radius: 50%;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 var(--pink);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 88, 158, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 88, 158, 0);
  }
}

.test-item:hover .yellow-circle {
  animation: pulse-red 1s infinite;
}

.sound-wave {
  height: 30%;
  width: 30%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bar {
  width: 20%;
  height: 3%;
  background: var(--pink);
}

.test-item:hover .bar {
  animation: audio-wave 1.5s infinite ease-in-out;

}

.test-item:hover .bar:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
}

.test-item:hover .bar:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
}

.test-item:hover .bar:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
}

.test-item:hover .bar:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
}

@keyframes audio-wave {
  0% {height:3%;transform:translateY(0px);background:var(--pink);}
  25% {height:50%;transform:translateY(-20px);background:var(--pink);}
  50% {height:3%;transform:translateY(0px);background:var(--pink);}
  100% {height:3%;transform:translateY(0px);background:var(--pink);}
}

.wave-start {
  position: absolute;
  top: -0.2em;
  height: 10em;
  width: 100%;
  display: flex;
  align-items: flex-end;
  object-fit: fill;
}
.wave-stop {
  position: absolute;
  bottom: -0.1em;
  height: 10em;
  width: 100%;
  display: flex;
  align-items: flex-end;
  object-fit: fill;
  z-index:2;
}
.wave svg{
  width: 100%;
  height: 100%;
}

.wave-start svg{
  transform: rotate(180deg);
}

/* -- FAQ -- */
#FAQ-section {
  padding-top: 1em;
  width: 100%;
  position: relative;
  z-index: 2;
  padding-bottom: 8em;
}

.FAQ-une-question-title {
  color: var(--light_pink);
  font-size: 3em;
  width: 30%;
  margin-left: 10%;
  z-index: 1000;
  position: relative;
  user-select: none;
}

.FAQ-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1000;
  position: relative;
  background: white;
  opacity: 0.8;
  backdrop-filter: blur(5px) saturate(800%);
}

.FAQ-questions-reponses-container {
  list-style: none;
  border-radius: 1.2em;
  padding-left: 0;
  box-shadow: 0px 0px 5px #bdc3c7;
  width: 100%;
  overflow: hidden;
  z-index: 1000;

}

.FAQ-question-reponses {
  padding-left: 1em;
  padding-right: 1em;
  z-index: 1000;
}

.FAQ-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(248, 248, 248, 1);
  transition: 0.2s ease all;
  padding: 20px 15px;
  cursor: pointer;
  font-weight: 400;
}

.question-first {
  border-top-left-radius: 1.2em;
  border-top-right-radius: 1.2em;
}

.question-fin {
  border-bottom-left-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
}

.FAQ-question h4 {
  user-select: none;
  text-transform: uppercase;
  margin: 0;
  color : #635483;
  font-size: 1.1em;
  transition: all 0.3s;
}

.FAQ-question .icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  position: relative;
  transition: all 0.1s;
}

.FAQ-question .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 10px;
  left: 6px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.FAQ-question .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 6px;
  left: 10px;
  width: 2px;
  height: 10px;
  background: currentColor;
  transition: 0.2s ease all;
}

.FAQ-question-reponses:hover .FAQ-question h4 {
  color: var(--pink);
  transform: scale(1.05);
  padding-left: 0.8em;
}

.FAQ-question-reponses--open .FAQ-question h4 {
  color: var(--pink);
}

.FAQ-question-reponses:hover .FAQ-question .icon {
  color: var(--pink);
}

.FAQ-question-reponses--open .FAQ-question .icon {
  color: var(--pink);
  transform: scale(1.1);
}

.FAQ-reponse {
  overflow: hidden;
  padding: 0px 15px;
  box-sizing: border-box;
  height: 100%;
  max-height: 0;
  transition: 0.4s ease all;
}

.FAQ-reponse p {
  font-size: 1.2em;
  color:grey;
  text-align:justify;
  width: 100%;
}

.FAQ-question-reponses--open .FAQ-question .icon::after {
  transform: scaleY(0);
}

.circle {
  position: absolute;
  z-index: 3;
}
.circle1 {
  width: 15em;
  height: 15em;
  bottom: 50%;
  left: 1em;
}

.circle3 {
  width: 25em;
  height: 25em;
  top:  8em;
  right: 1em;
}

.footer-section {
  width: 100%;
  height: 80vh;
  position: relative;
  z-index: 0;
}

.fixed-container {
  width: 100%;
  height: 80vh;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: #ffeeff;
}

#contact-container {
  height: 80vh;
  max-height: 40em;
  width: 100vw;
  background-image: var(--light_gradient);
  background-size:cover;
  
  z-index: 10000;
  position: relative;
  background-repeat: no-repeat;
  background-size: auto 100%;

  display: flex;
  align-items: center;
}
.contact_form_container {
  position: relative;
  width: 40%;
  height:85%;

  background-color: white;
  opacity: 0.9;
  backdrop-filter: blur(10px) saturate(200%);
  border-radius: 2em;
  box-shadow: 0px 0px 10px #bdc3c7;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.3s;

  z-index: 10001;
}

.contact_form_container:hover {
  backdrop-filter: blur(0px) saturate(100%);
}

.input_container {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact_form_container .title_container {
  width: 80%;
  height: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.contact_form_container .title_container h3 {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5em;
  color: #645483;
  user-select: none;
}

.input_container input, textarea {
  width: 100%;
  height: 7vh;
  user-select: none;

  border-style: none;
  box-shadow: 0px 0px 2px #bdc3c7;
  border-radius: 1em;
  padding-left: 1em;
  font-size: 1.3em;
  transition: all 0.2s ease;
  color : #474547;
}

.input_container_1 input {
  width: 42%;
}

.input_container input:hover,.input_container input:focus, textarea:hover, textarea:focus {
  border: none;
  border-style: none;
  outline: none;
  caret-color: var(--light_pink);
  box-shadow: 0px 0px 4px #bdc3c7;
}
.input_container input:focus, textarea:focus {
  transform: scale(1.03);
  transform-origin: center;
}

.input_container_3 {
  height: 25%;
}

.input_container_3 textarea {
  height: 100%;
  width: 100%;
  resize: none;
  padding-top: 0.7em;
}

.envoyer_button {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.envoyer_button button {
  height: 200%;
  width:  200%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 1.4em;
  color: white;
  background: var(--pink);
  border-style: none;
  border:none;
  outline: none;
  overflow: hidden;
  transition: all 0.3s;
}

.envoyer_button button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transform-origin: center;
  z-index: 10;
}

.abstract_container {
  position: absolute;
  top:-8em;
  height: 8em;
  width: 100%;
  visibility: hidden;
}

.CGU{
	color: white;
	display: flex;
	justify-content: center;
	height: 4vh;
	width: 100%;
  margin-top:1vh;
}

.CGU a{
	color: white;
	text-decoration: none;
}

.pourquoi-utiliser-container{
  position: relative;
  width: 100%;
  background: white;
  z-index: 1;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  padding-top: 7em; 
  padding-bottom: 3em;
}

.title-pk {
  text-align: center;
  font-size: 3em;
  user-select: none;

  background: var(--light_gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pourquoi-utiliser-container img {
  width: 80%;
}

.sub-title-pk{
  color: #645483;
  margin-bottom: 2em;
  width: 80%;
}