/* CE FICHIER PERMET DE METTRE EN FORME LES INPUTS D'UNE PAGE LORSQU'IL EST APPELÉ*/

input{
    width: 100%;
    height: 7vh;
    border-style: none;
    box-shadow: 0px 0px 2px #bdc3c7;
    border-radius: 1em;
    padding-left: 1em;
    font-size: 2.5vh;
    transition: all 0.2s ease;
    color : #474547;
}

input:hover, input:focus, textarea:hover, textarea:focus{
    border: none;
    border-style: none;
    outline: none;
    caret-color: var(--light_pink);
    box-shadow: 0px 0px 4px #bdc3c7;
  }

  input:focus, textarea:focus{
    transform: scale(1.03);
    transform-origin: center;
  }