html {
    scroll-behavior:auto;
}

h2{
    font-size:1.5em;
    color: #807488;
    font-weight: bold;
    user-select: none;
    margin: 0;
    margin-bottom:0.6em;
}

body{
    padding-top: 7em;
}
.content-container{
    margin-top:1em;
    margin-bottom: 1em;
    position: relative;
}

.fixed-container{
    align-self: center;
    width:101%;
    user-select: none;
       
    position: sticky;
    top: 5em;
    background:linear-gradient(180deg, white 95%, rgba(255,255,255,0) 100%);
    display: flex;
    flex-direction: column;
}

.form_all{
    display:flex;
    height:3em;
    margin-bottom: 0.5em;
    transition: all 0.3s;
}

.void{
    height:100%;
    width:3em;
    margin-right: 0.8em;
}
.user{
    height:100%;
    width:3em;
    margin-right: 0.8em;
    overflow: hidden;
    
    border-radius: 1em;
    box-shadow: 0px 0px 2px #bdc3c7;
    transition: all 0.2s;
}
.user:hover{
    box-shadow: 0px 0px 0px #bdc3c7;
}

.user button{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;

    text-align: center;
  
    text-decoration: none;
    font-size: 1.5em;
    color: #B5BEC1;
    border-style: none;
    border:none;
    outline: none;
    overflow: hidden;
    transition: all 0.3s;
    user-select: none;

    background: #f8f8f8;
    cursor: pointer;
}

.user button:hover{
    transform: scale(1.15);
}


.content-container {
    padding:1em;
    display: flex;
    flex-direction: column;
}
 
.user-container {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px #bdc3c7;
    border-radius: 1em;
    overflow: hidden;
    transition: all 0.2s ease;
}

.user-container * {
    display: flex;
    justify-content:center;
    align-items:center;
}

.user-description {
    box-shadow: none;
    margin-bottom: 0.1em;
}

.user-description>* {
    font-size: 1.3em;
}

.user-container:last-child {
    margin-bottom: 0;
}
.user-container>* {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 1.1em;
}

.line-container>*:nth-child(2n) {
    background-color: #f8f8f8;
}

.form_all:hover .line-container {
    /* transform: scale(1.005); */
    box-shadow: 0px 0px 5px #bdc3c7;
}

.form_all:hover .user{
    box-shadow: 0px 0px 5px #bdc3c7;
}
.form_all:focus-within .user{
    box-shadow: 0px 0px 5px #b0b5b9;
    background: #eeeded;
}

.line-container:focus-within{
    transform: scale(1.01);
}

.line-container:focus-within .valider_changement{
    width:30%;
}
.line-container:focus-within .valider_changement button{
    visibility: visible;
}

.line-container:focus-within .valider_changement button>*{
    opacity: 1;
}


.line-container input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    color : #474547;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;
    border-style: none;
    outline: none;

    transition: all 0.2s ease;

}

.line-container input:hover{
    border: none;
    border-style: none;
    outline: none;
    caret-color: var(--light_pink);
}

.line-container input:focus{
    background-color:rgba(0, 0, 0,0.05);
}

.line-container .valider_changement{
    width: 0%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: none;
    background: none;
    transition: all 0.3s ease;

}

.valider_changement button{
    cursor: pointer;

    visibility: hidden;
    height: 200%;
    width:  200%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    border-style: none;
    border:none;
    outline: none;
    overflow: hidden;
    transition: all 0.3s;
    user-select: none;
}

.modify button{
    background: #1e90ff;
}

.remove button{
    background: var(--pink);
}

.valider_changement button:hover{
    transform: scale(1.3);
}

.valider_changement button>*{
    opacity: 0;
}

/* Style de la barre de recherche */

.search_bar-container {
    width: 60%;
    height: 2.6em;
    margin-bottom: 2em;

    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 0px 0px 2px #bdc3c7;
    border-radius: 1em;
    transition: all 0.2s ease;

    overflow: hidden;
}

.search_bar-container:hover, .search_bar-container:focus {
    box-shadow: 0px 0px 4px #bdc3c7;
  }

.search_bar-container:focus-within {
    transform: scale(1.03);
    transform-origin: center;
}

.search_bar-container>* {
    height: 100%;
}
.search_bar-container input {
    border-style: none;
    width: 60%;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    color : #474547;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;
}

.search_bar-container input:hover, .search_bar-container input:focus {
    border: none;
    outline: none;
    caret-color: var(--light_pink);
}

.search_bar-container .button-container {
    width: 40%;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.button-container button {
    height: 200%;
    width:  200%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    background: var(--pink);
    border-style: none;
    border:none;
    outline: none;
    overflow: hidden;
    transition: all 0.3s;
    user-select: none;
}
  
.button-container button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transform-origin: center;
    z-index: 10;
}

.addUser{
    margin-bottom: 2em;
}

select {
    width:20%;
    height:100%;
    border: none;
    border-left: solid 1px #f2f3f7;
    margin: 0;
    color : #474547;
    font-size: 1.2em;
    outline: 0;
    
    -webkit-appearance: none;
    appearance: none;
    text-align-last: center;
    text-align: center;
}

option {
    color : #474547;
    font-size: 1.2em;
}

.searchSelect{
    color:#757575;
}

