/*                                          */
/* CSS DE LA PAGE DE MOFIFICATION DU PROFIL */
/*                                          */

body{
    margin: 0;
    padding: 0;
    padding-top: 7em;
    background-color: #f2f3f7;
}

body .content-container{
    position: relative;
    margin-top: 8em;

    margin-top: 1em;
    margin-bottom:1em;
    margin-left: 8em;
    margin-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;

    background-color: white;
}

.flex{
    display: flex;
    align-content: center;
}

.content-container .form-container{
    margin: 1em;
    margin-left: 1.5em;
    width: 40%;
    position: relative;
}

.categorie{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.categorie h2{
    font-size: 1.5em;
    color: #807488;
    font-weight: bold;
    user-select: none;
    margin: 0;
}

.categorie .item h4{
    margin-bottom: 0.2em;
    font-size: 1.3em;
}
.modif_button{
    position: absolute;
    right: 0em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border:2px solid #FF589E;
    border-radius:1em;
    color: #FF589E;
    transition:all 0.4s;
    z-index: 0;
}

.modif_button:hover{
    background: #FF589E;
    color: white;
}

.form-container input{
    width:100%;
    height:3em;
}

.obligatoire{
    color: var(--pink);
}

.button-profil {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width:70%;
    height:3em;
    margin-top:2em;
    border-radius:1em;
}
  
.button-profil button {
    height: 200%;
    width:  200%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    background: var(--pink);
    border-style: none;
    border:none;
    outline: none;
    overflow: hidden;
    transition: all 0.3s;
    user-select: none;
}
  
.button-profil button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transform-origin: center;
    z-index: 10;
}

.img_container{
    width: 50%;
    user-select: none;
}
.img_container img{
    width: 100%;
    user-select: none;
}



